#dndiCapture-Toolbar-Button {
    list-style-image: url(chrome://dndicapture/skin/images/d20metal-24.png);
}

toolbar[iconsize="small"] #dndiCapture-Toolbar-Button  > .toolbarbutton-icon {
    list-style-image: url(chrome://dndicapture/skin/images/d20metal-16.png);
    width: 16px;
    height: 16px;
}
