#dndiCapture-Toolbar-Button {
    list-style-image: url(chrome://dndicapture/skin/images/d20metal-24.png);
}

toolbar[iconsize="small"] #dndiCapture-Toolbar-Button  > .toolbarbutton-icon {
    list-style-image: url(chrome://dndicapture/skin/images/d20metal-16.png);
    width: 16px;
    height: 16px;
}

/***** Side bar stuff ******/

#Compendium-Button > .toolbarbutton-text {
    display: -moz-box !important;
    padding-top: 4px !important;
}

#dndiAutoLabel > .topbarbutton-text {
    margin-top: 4px;
    padding-top: 4px !important;
}